img{
    max-width: 20%;
 

}
.crazy {
    color:lightseagreen !important;
    background:#555;
    padding: 25px;
    border: 3px solid #999;
}

section article {
    padding: 20px;
    border: 1px solid #bbb;
}

